.revenueText {
    text-align: left !important;
    padding-bottom: 10px;
    font-size: 28px;
}
.card-options {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 100;
    order: 100;
    margin-right: -0.5rem;
    color: #9aa0ac;
    -ms-flex-item-align: center;
    align-self: center;
}
.btn-sm, .btn-group-sm>.btn {
    font-size: 0.55rem;
    min-width: 2.5rem;
}
.fa-caret-up:before {
    font-size: 20px;
    margin-right: 5px;
}
.fa-caret-down:before {
    font-size: 20px;
    margin-right: 5px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.703125rem;
    background-color: #ebecf5;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(227, 228, 237, 0.3);
    position: relative;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 7px;
    transition: width 0.6s ease;
}
.h-2 {
    height: 0.5rem !important;
}