#areaChart1, #areaChart2, #areaChart3, #areaChart4 {
    height: 7rem !important;
}
.mini-stat-icon {
    padding: 10px 14px;
    color: #fff;
    display: block;
    border-radius: 50px;
}
.mb-1 {
    margin-bottom: .25rem !important;
    width: 175px;
    text-align: left;
}
