.circle-icon {
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 30px;
    margin-left: 13px;
    float: right;
    border-radius: 5px;
}
.card-img-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.fw-normal-follower{
    font-size: 28px;
}
.fw-normal-follower-label{
    font-size: 16px;
}