.legend .bg-primary {
    background: #6259ca;
}
.legend {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 6px;
}
.legend.bg-background2 {
    background: #ff5d9e;
}