.fs-3x {
    font-size: 3em !important;
}
.fs {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-primary {
    color: #6259ca !important;
}